@model IEnumerable<MVCCoreUserProfile.Models.Tbldesignation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>

        .card {
            margin-bottom: 20px;
        }


        .form-group {
            margin-bottom: 15px;
        }


        body {
            background-color: #f8f9fa;
        }


        table {
            width: 100%;
            border-collapse: collapse;
        }


        thead {
            background-color: #0d6efd;
            color: white;
        }

        th {
            padding: 10px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#btnsubmit").click(function () {
                AddDesignation();
            })
        })
        function AddDesignation() {
            var designationName = $("#txtdesignationName").val();
            var designation = { "DesignationName": designationName };

            $.ajax({
                url: '/Admin/Designations/AddDesignation',
                method: 'post',
                data: designation,
                success: function (resp) {
                    console.log(resp);
                    alert(resp);
                    window.location.reload();
                },
                error: function () {
                    alert("Error adding state.");
                }
            })
            $("#txtdesignationName").val("");
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Add Designation</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label>Designation Name</label>
                            <input type="text" id="txtdesignationName" class="form-control" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="button" value="Submit" id="btnsubmit" class="btn btn-success" />
                    </div>
                </div>
            </div>
            <div class="col-8">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Designation Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.DesignationName</td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
