@model IEnumerable<MVCCoreUserProfile.Models.Tblcity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
@*     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 *@    <style>

        .card {
            margin-bottom: 20px;
        }


        .form-group {
            margin-bottom: 15px;
        }


        body {
            background-color: #f8f9fa;
        }


        table {
            width: 100%;
            border-collapse: collapse;
        }


        thead {
            background-color: #0d6efd;
            color: white;
        }

        th {
            padding: 10px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#btnsubmit").click(function () {
                AddCity();
            })
        })
        function AddCity() {
            var cityName = $("#txtcityName").val();
            var city = { "CityName": cityName };

            $.ajax({
                url: '/Admin/Cities/AddCity',
                method: 'post',
                data: city,
                success: function (resp) {
                    console.log(resp);
                    alert(resp);
                    window.location.reload();
                },
                error: function () {
                    alert("Error adding state.");
                }
            })
            $("#txtcityName").val("");
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Add City</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label>City Name</label>
                            <input type="text" id="txtcityName" class="form-control" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="button" value="Submit" id="btnsubmit" class="btn btn-success" />
                    </div>
                </div>
            </div>
            <div class="col-8">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>City Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.CityName</td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>


